.welcomeDiv {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 100%;
  padding: 5% 10%;
  margin: 5% 10%;
  //   border: 1px solid black;
  border-radius: 0.5rem;
  background-color: bisque;
}
